*
!*.*
!*/
.vscode/ipch/b1ed5e164864e5d6/aula1.ipch
.vscode/ipch/b1ed5e164864e5d6/mmap_address.bin
.vscode/ipch/9d554c75f13986a4/proglista_produto.ipch
.vscode/ipch/18a9128ca9e1ed37/mmap_address.bin
.vscode/ipch/18a9128ca9e1ed37/proglistahet.ipch
.vscode/ipch/24be020834d33cc8/mmap_address.bin
.vscode/ipch/24be020834d33cc8/produto.ipch
.vscode/ipch/822085060c3764bd/mmap_address.bin
.vscode/ipch/9d554c75f13986a4/mmap_address.bin
.vscode/ipch/a1d6855d2239ef1b/listahet.ipch
.vscode/ipch/a1d6855d2239ef1b/mmap_address.bin
.vscode/ipch/d2e099e6791c2317/mmap_address.bin
.vscode/ipch/d2e099e6791c2317/stdio.ipch
.vscode/ipch/ffb91d820d7a9c6f/mmap_address.bin
.vscode/ipch/ffb91d820d7a9c6f/progmat.ipch
